* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    height: 400px;
    background-position: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}

body {
    background-color: wheat;
}

.roast {
    width: 60%;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 20px;
}

.countries {
    background-color: wheat;
}