* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

header {
    background-image: url(https://images.unsplash.com/photo-1455267847942-f4fdb784f0c5?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb);
    height: 400px;
    background-position: center;
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
    font-family: 'Covered By Your Grace', sans-serif;
    color: #41292c;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

h2,
h3,
p,
a,
span {
    font-family: 'Raleway', sans-serif;
}

article h2 {
    margin-bottom: 10px;
}

article span {
    display: inline-block;
    margin-bottom: 20px;
}

article a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 12px;
    font-weight: bold;
}

hr {
    margin-bottom: 50px;
    background-color: orange;
}

.roast {
    width: 70%;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 30px 20px;
    border-radius: 5px;
}

.main-info {
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}

.roast article {
    color: white;
}

.padding {
    padding: 15px;
}

.countries {
    background-color: wheat;
}

.green {
    background-color: #9eb599;
}

.light {
    background-color: #683c2c;
}

.city {
    background-color: #4c352d;
}

.vienna {
    background-color: #352926;
}

.italian {
    background-color: #141212;
}

.country {
    color: orange;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.country-info {
    color: gray;
    margin-bottom: 20px;
    line-height: 25px;
}